<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Regra para o YouTube Downloader -->
        <rule name="Youtube" stopProcessing="true">
          <match url="^youtube/(.*)" />
          <action type="Rewrite" url="http://localhost:6001/{R:1}" />
        </rule>
        <!-- Regra para arquivos estáticos do YouTube -->
        <rule name="YoutubeStatic" stopProcessing="true">
          <match url="^youtube/static/(.*)" />
          <action type="Rewrite" url="http://localhost:6001/static/{R:1}" />
        </rule>
        <!-- Regra para API do YouTube -->
        <rule name="YoutubeAPI" stopProcessing="true">
          <match url="^youtube/(video_info|download|progress)" />
          <action type="Rewrite" url="http://localhost:6001/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configurações de CORS para IIS -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Configurações de timeout -->
    <aspNetCore requestTimeout="00:10:00" />
    
  </system.webServer>
</configuration>